*{
    padding: 0;
    margin: 0;
    font-family:'Mulish', sans-serif;
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: blanchedalmond;
    gap: 20px;
    flex-direction: column;
    overflow-x: hidden;
    
}
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(243, 175, 130);
    font-size: 30px;
    width: 100%;
    gap: 80px;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    
}

form input{
    width: 350px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(220, 197, 241);
    border: none;
    font-size: 15px;
    padding-left: 10px;
}
header a{
    width: 150px;
    height: 20px;
    

}
.logos{
    width: 30px;
}
.logo{
    width: 100px;
    margin-top: -20px;
}
form button{
    border-radius: 15px;
    background-color: rgb(220, 197, 241);
    width: 150px;
    height: 40px;
    gap: 20px;
    border: none;
    font-size: 25px;

}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

div{
    padding-left: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-self: center;
       
}

div a{
    background-color: rgb(220, 197, 241);
    border-radius: 15px;
    text-align: center;
    width: 180px;
    font-size: 30px;
    height: 40px;
    text-decoration: none;
    
}

main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    padding-top: 150px;
}

.backet{
    width: 50px;
    margin-top: -5px;
    
}
.typeproduct{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    
}

.products{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;


}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 127, 226);
    padding-top: 20px;
    height: 450px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.product p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-size: 23px;
    
}

.product a{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.price{
    color: rgb(20, 85, 63);
    font-size: 25px;
    font-weight: 500;
}

.image{
    height: 250px;
    width: 250px;
    border-radius: 20px;
}

.title{
    font-size: 24px;
    color: aliceblue;
    font-weight: 700;

}

h2{
    font-size: 30px;
    color: rgb(34, 159, 243);
    font-weight: 600;
    border-bottom: 1px solid black;
    width: 90%;
    padding-bottom: 10px;
}

header div p{
    color: rgb(62, 87, 87);
    
}
.addproduct{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;

}

.orderspagemain{
    font-size: 19px;
}

.adminmain{
    font-size: 19px;
}